* {
    margin: 0;
    padding: 0;
}

*::before,
*::after {
    box-sizing: border-box;
}
:root {
    --primary-color: rgb(155, 72, 34);
    --secondary-color: rgb(36, 6, 6);
    --light-color: rgb(252, 249, 247);
    --transparent-color: rgba(36, 6, 6, 0.8);
}
body {
    font-family: 'Open Sans', sans-serif;
}
.horizontal-line {
    display: inline-block;
    width: 40px;
    height: 4px;
    background-color: var(--primary-color);
}
.horizontal-line--margin {
    margin-left: 45px;
}
.horizontal-line--white {
    background-color: #ffffff;
}
.header {
    display:flex;
    justify-content: space-between;
}
.header__bg-light {
    background-color: var(--primary-color);
    width: 50%;
    height: 60px;
    clip-path: polygon(0 0, 100% 0%, 95% 100%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0%, 95% 100%, 0 100%);
}
.header__bg-dark {
    background-color: var(--secondary-color);
    width: 50%;
    height: 60px;
    clip-path: polygon(5% 0, 100% 0%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(5% 0, 100% 0%, 100% 100%, 0 100%);
}
.header__content-1 {
    margin: 1.0rem 0 1.0rem 6.0rem;
}
.header__content-2 {
    margin: 1.0rem 6.0rem 1.0rem 0;
    text-align: end;
}
.header__icon {

}
.header__text {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
}
.navbar {
    width: 90%;
    margin: auto;
}.navbar__brand-text {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: var(--primary-color);
}
a.navbar__link {
    color: var(--secondary-color);
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
}
a.nav-link.navbar__link.navbar__link--active {
    color: var(--primary-color);
}
.hero {
    position: relative;
}
.hero__bg-image {
    background-image: linear-gradient(var(--transparent-color), var(--transparent-color)), url(../Images/hero\ image.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    max-width: 100%;
    height: 100vh;
}
.hero__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.hero__title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    color: #ffff;
}
.hero__text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
}
.hero__btn {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    background-color: var(--primary-color);
    border: none;
    border-radius: 0;
    padding: 10px 20px;
}
.bgd-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 100px auto;
    text-align: center;
}
.card {
    margin-right: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-top: none;
}
.card__content--pad {
    padding: 10px 30px;
}
.card--mid-card {
    text-align: justify;
    margin-top: 50px;
    padding: 80px 50px 30px 30px;
}
.card--bottom-card {
    width: 43%;
    border: none;
    box-shadow: none;
}
.card__content {
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
}
.card__content--bg {
    background-color: var(--primary-color);
}
.card__image {
    width: 30%;
    display: block;
    margin: 10px auto;
}
.card__header {
    font-style: normal;
}
.card__header--soft {
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #333333;
}
.card__header--strong {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #333333;
    text-align: center;
}
.card__header--white {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
}
.card__text {
    word-wrap: break-word;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
}
.card__text--soft {
    letter-spacing: 0.02em;
    color: #333333;
}
.card__text--strong {
    color: #000;
}
.card__text--white {
    color: #ffffff;
}
a.card__button {
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #ffff;
    color: #ffff;
    background-color: var(--primary-color);
}
.article {
    
}
.article__header {
    text-align: center;
}
.article__title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: var(--primary-color);
}
.article__title--white {
    color: #ffffff;
}
.article__content-1 {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 50px auto;
    padding-left: 15px;
    text-align: justify;
}
.article__content-2 {
    display: flex;
    justify-content: space-between;
    margin: 70px auto;
    width: 90%;
}
.article__sub-title {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: var(--primary-color);
    text-transform: uppercase;
}
.article__subscribe {
    width: 43%;
}
.article__form-input {
    padding: 30px;
    border-radius: 0;
    width: 80%;
}
.article__button {
    padding: 18px;
    border-radius: 0;
    width: 100%;
    background-color: var(--primary-color);
    color: #ffff;
    border: 1px solid var(--primary-color);
}
.article__contact {
    width: 43%;
}
.article__list {
    list-style: none;
}
.article__icon {
    width: 22px;
}
.article__text {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: #333333;
}
.article__text--soft {
    opacity: 0.8;
    line-height: 28px;
}
.about-us {
    width: 85%;
    margin: auto;
}
.about-us__text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #181818;
    word-wrap: break-word;
}
.about-us__image--shadow {
    box-shadow: -30px -50px 0 var(--primary-color);
}
.achieve {
    background-image: linear-gradient(var(--transparent-color), var(--transparent-color)), url(../Images/Rectangle\ 107.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 100%;
    margin-top: 70px;
}
.achieve__info {
    padding: 140px 0;
}
.achieve__content {
    text-align: center;
    margin-right: 40px;
}
.achieve__title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 10px;
}
.achieve__title--super {
    vertical-align: super;
}
.achieve__text {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;  
    color: #FFFFFF;
    opacity: 0.7;
}
.practice {
    width: 90%;
    margin: 100px auto;
}
.practice__image {
    object-fit: cover;
}
.practice__caption {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #333333;
}
.activity {
    background-image: linear-gradient(var(--transparent-color), var(--transparent-color)), url(../Images/Rectangle\ 107.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%; 
    height: 100%;    
}
.activity__content {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}
.activity__info {
    text-align: center;
}
.activity__title {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
}
.activity__text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.activity__image {
    width: 30%;
}
.services {
    width: 70%;
    margin: 70px auto;
}
.form-evaluation {
    background-color: var(--secondary-color);
    padding-top: 20px;
    padding-bottom: 60px;
}
.form {
    width: 60%;
    margin: auto;
}
.form__field {
    margin: 20px 0;
}
.form__text-input {
    width: 100%;
    padding: 10px 20px;
}
.form__text-field {
    width: 100%;
    height: 150px;
    padding: 10px 20px;
}
.form__request-btn {
    padding: 5px 20px;
    background-color: var(--primary-color);
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}
.team-info {
    width: 85%;
    margin: 100px auto;
}
.team-info__content {
    margin-top: 80px;
}
.team-info__sub-title {
    font-style: normal;
    font-weight: bolder;
    font-size: 18px;
    line-height: 25px;  
    color: var(--primary-color);
    margin-top: 40px;
}
.team-info__text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #333333;
}
.team-info__image {
}
.team-info__image--shadow {
    box-shadow: -30px -40px 0 var(--primary-color);
}
.reviews {
    margin: 100px 0;
}
.reviews__content {
    background-image: linear-gradient(var(--transparent-color), var(--transparent-color)), url(../Images/Rectangle\ 107.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; 
    max-width: 100%;
    height: 100%;  
    padding: 120px 0; 
}
.reviews__slider {
    width: 85%;
    margin:auto;
}
.reviews__slider-content {
    padding-bottom: 70px;
}
.reviews__image {
    width: 10%;
    margin-right: 80px;
}
.reviews__text {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    word-wrap: break-word;
}
li.reviews__indicator-list {
    border-radius: 100%;
    height: 15px;
    width: 15px;
    background-color: var(--secondary-color);
}
li.reviews__indicator-list--active {
    background-color: var(--primary-color);
}
.footer-nav {
    background-color: var(--light-color);
}
.footer-nav__content {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding: 20px 0;
}
.footer-nav__header {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 44px;
    letter-spacing: 0.02em;
}
.footer-nav__list {
    list-style:none;
}
a.footer-nav__link {
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 44px;
    letter-spacing: 0.02em;
    color: #333333;
    opacity: 0.8;
}
.footer-nav__sub-footer {
    background-color: var(--secondary-color);
    height: 4rem;
    padding-top: 20px;
}
.footer-nav__text--white {
    color: #ffffff;
    text-align: center;
}

/*==============================================
                RESPONSIVENESS
==============================================*/
@media (max-width: 1024px) {
    .header__content-1 {
        margin: 1.0rem 0 1.0rem 4.0rem;
    }
    .header__content-2 {
        margin: 1.0rem 4.7rem 1.0rem 0;
    }
    .hero__bg-image {
        background-size: contain;
        height: 40vh;
    }
    .bgd-info {
        width: 75%;
    }
    .achieve {
        height: 22vh;
    } 
    .achieve__info {
        padding: 70px 0 70px 40px;
    }
    .achieve__content {
        margin-right: 20px
    }
    .practice {
        margin: 40px auto;
    }   
    .activity {
        height: 22vh;
    }
    .activity__content {
        padding-top: 55px;
    }
    .activity__image {
        margin: 10px 0;
    }
    .services {
        width: 75%;
    }
    .form {
        width: 75%;
    }
    .team-info {
        margin: 50px auto;
    }
    .team-info__image {
        margin-top: 20px;
    }
    .reviews {
        margin: 50px 0;
    }
    .reviews__slider-content {
        padding-bottom: 50px;
    }
    .reviews__content {
        height: 22vh;
        padding: 35px 0;
    }
    .reviews__image {
        width: 20%;
    }
    .footer-nav__content > div:first-child,
    .footer-nav__content > div:nth-child(2),
    .footer-nav__content > div:nth-child(3),
    .footer-nav__content > div:last-child {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .header__content-1 {
        margin: 1.0rem 0 1.0rem 2.0rem;
    }
    .header__content-2 {
        margin: 1.0rem 2.5rem 1.0rem 0;
    }
    .hero__bg-image {
        background-size: contain;
        height: 40vh;
    }
    .hero__title {
        font-size: 24px;
        line-height: 28px;
    }
    .horizontal-line--margin {
        margin: 0;
    }
    .bgd-info {
        display: block;
        width: 60%;
    }
    .card {
        margin-bottom: 25px !important;
    }
    .card--mid-card {
        padding: 20px 0;
    }
    .article__title {
        font-size: 24px;
        line-height: 32px;
    }
    .about-us__image--shadow {
        box-shadow: none;
    }
    .achieve {
        height: 23vh;
    }    
    .achieve__info {
        padding: 50px 0 0 40px;
    }
    .achieve__content {
        margin-right: 10px
    }
    .achieve__title {
        padding-top: 3px;
        font-size: 18px;
        line-height: 24px;
    }
    .achieve__text {
        font-size: 16px;
        line-height: 20px;
    }
    .achieve__image {
        width: 65%;
    }
    .practice {
        margin: 20px auto;
    }
    .activity {
        height: 23vh;
    }
    .activity__content {
        padding-top: 20px;
    }
    .activity__text {
        text-align: justify;
    }
    .services {
        width: 90%;
    }
    .form {
        width: 80%;
    }
    .team-info__sub-title {
        margin-top: 10px;
    }
    .team-info__text {
        text-align: justify;
    }
    .reviews {
        margin: 40px 0;
    }
    .reviews__content {
        height: 24vh;
        padding: 50px 0;
    }
    .footer-nav__content > div:first-child,
    .footer-nav__content > div:nth-child(2),
    .footer-nav__content > div:nth-child(3),
    .footer-nav__content > div:last-child {
        width: 50%;
    }
}

@media (min-width:320px) and (max-width: 480px) {
    .header__content-1 {
        margin: 1.0rem 0 1.0rem 1.5rem;
    }
    .header__content-2 {
        margin: 1.0rem 1.5rem 1.0rem 0;
    }
    .header__icon {
        width: 15%;
    }
    .header__text {
        font-size: 10px;
        line-height: 14px;
    }
    .hero__bg-image {
        background-size: contain;
        height: 30vh;
    }
    .hero__title {
        font-size: 18px;
        line-height: 24px;
    }
    .hero__text {
        font-size: 14px;
        line-height: 20px;
    }
    .hero__btn {
        font-size: 14px;
        line-height: 20px;
        padding: 5px 10px;
    }
    .bgd-info {
        display: block;
        width: 80%;
        margin: 30px auto;
    }
    .card {
        margin-right: 0px;
    } 
    .card--mid-card {
        padding: 20px 0px;
    }
    .card--bottom-card {
        width: 100%;
    }
    .card__content {
      padding: 40px 15px;  
    }
    .card__header--strong {
        font-size: 22px;
        line-height: 28px;
    }
    .card__image {
        width: 20%;
    }   
    .horizontal-line--margin {
        margin-left: 0;
    }
    .article__title {
        font-size: 18px;
        line-height: 24px;
    }
    .article__content-1 {
        margin: 20px auto;
        display: block;
        padding-left: 0;
    }
    .article__content-2 {
        display: block;
        width: 100%;
    }
    .article__subscribe {
        width: 100%;
    }
    .article__contact {
        width: 100%;
    }
    .about-us__image--shadow {
        box-shadow: none;
    }
    .achieve {
        background-image: linear-gradient(var(--transparent-color), var(--transparent-color));
        max-width: 100%;
        height: 100%;
    }    
    .achieve__info {
        padding: 10px 0 0 5px;
    }
    .achieve__content {
        margin: 1px 0;
    }
    .achieve__title {
        margin: 3px 0;
    }
    .achieve__image {
        width: 15%;
    }
    .practice {
        margin: 50px auto;
    }
    .activity {
        background-image: linear-gradient(var(--transparent-color), var(--transparent-color));
        height: 100%;
    }
    .activity__content {
        display: block;
        padding: 10px 0;
    }
    .activity__text {
        text-align: center;
    }
    .activity__image {
        width: 17%;
    }
    .services {
        width: 90%;
    }
    .form {
        width: 90%;
    }
    .team-info {
        margin: 30px auto;
    }
    .team-info__content {
        margin-top: 20px;
    }
    .team-info__image--shadow {
        box-shadow: none;
    }
    .team-info__text {
        font-size: 16px;
        line-height: 24px;
    }
    .reviews {
        margin: 30px 0;
    }
    .reviews__content {
        background-image: linear-gradient(var(--transparent-color), var(--transparent-color));
        height: 100%;
        padding: 10px 0;
    }
    .reviews__slider-content {
        padding-bottom: 35px;
    }
    .reviews__title {
        font-size: 18px;
        line-height: 24px;
    }
    .reviews__text {
        font-size: 16px;
        line-height: 20px;
        margin-top: 10px;
    }
    .reviews__image {
        width: 20%;
        margin-top: 10px;
        margin-right: 20px;
    }
    .footer-nav__content {
        display: block;
    }
    .footer-nav__content > div:first-child,
    .footer-nav__content > div:nth-child(2),
    .footer-nav__content > div:nth-child(3),
    .footer-nav__content > div:last-child {
        width: 100%;
    }
}
@media (orientation: landscape) {

    .practice__image {
        width: 100%;
    }
    .services {
        width: 70%;
    }
}
