/* CSS Reset */

* {
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  box-sizing: border-box;
}

/* Custom Variables */

:root {
  --primary-color: rgb(155, 72, 34);
  --secondary-color: rgb(36, 6, 6);
  --light-color: rgb(252, 249, 247);
  --transparent-color: rgba(36, 6, 6, 0.8);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

.horizontal-line {
  display: inline-block;
  width: 4rem;
  height: 0.4rem;
  background-color: var(--primary-color, orange);
}

.horizontal-line--margin {
  margin-left: 4.5rem;
}

.horizontal-line--white {
  background-color: #fff;
}

.btn-warning:hover {
  background-color: rgb(155, 72, 34, 0.5);
  color: #fff;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
}

.header__bg-light {
  background-color: var(--primary-color);
  width: 50%;
  height: 6rem;
  clip-path: polygon(0 0, 100% 0%, 95% 100%, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0%, 95% 100%, 0 100%);
}

.header__bg-dark {
  background-color: var(--secondary-color, maroon);
  width: 50%;
  height: 6rem;
  clip-path: polygon(5% 0, 100% 0%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(5% 0, 100% 0%, 100% 100%, 0 100%);
}

.header__content-1 {
  margin: 1rem 0 1rem 19rem;
  max-width: 50%;
}

.header__content-2 {
  margin: 1rem 19rem 1rem 0;
  text-align: end;
}

.header__text {
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #fff;
}

/* Navigation */

.navbar__brand-text {
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: var(--primary-color, orangered);
}

a.navbar__link {
  color: var(--secondary-color, maroon);
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.8rem;
}

a.nav-link.navbar__link.navbar__link--active {
  color: var(--primary-color, orangered);
}

/* Hero section */

.hero__bg-image {
  background-image: linear-gradient(var(--transparent-color), var(--transparent-color)), url(../Images/hero\ image.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 100%;
  height: 100vh;
  position: relative;
}

.hero__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero__title {
  font-style: normal;
  font-weight: 600;
  font-size: calc(1rem + 1.73vw);
  line-height: calc(1.6rem + 2.55vw);
  color: #fff;
}

.hero__text {
  font-style: normal;
  font-weight: normal;
  font-size: calc(1rem + 0.92vw);
  line-height: calc(1.6rem + 2.55vw);
  color: #fff;
}

.hero__btn {
  font-style: normal;
  font-weight: 600;
  font-size: calc(1rem + 0.61vw);
  line-height: calc(1.6rem + 1.3vw);
  color: #fff;
  background-color: var(--primary-color, orangered);
  border: none;
  border-radius: 0;
  padding: 0.2rem 2rem;
}

a.hero__btn {
  text-decoration: none;
}

.bgd-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin: 10rem auto 14rem;
  text-align: center;
}

.bgd-info>div {
  margin-right: 3rem;
}

.bgd-info>div:last-child {
  margin-right: 0;
}

.card {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
  border-top: none;
}

.card--mid-card {
  padding: 8rem 3.5rem 3rem 3.5rem;
}

.card--bottom-card {
  width: 45%;
  border: none;
  box-shadow: none;
}

.card__content {
  padding-bottom: 3rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.card__content--pad {
  padding: 1rem 2.5rem;
}

.card__content--bg {
  background-color: var(--primary-color, orangered);
}

.card__image {
  max-width: 30%;
  display: block;
  margin: 1rem auto;
}

.card__header {
  font-style: normal;
}

.card__header--soft {
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: 0.02em;
  color: #333;
}

.card__header--strong {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.3rem;
  color: #333;
  text-align: center;
}

.card__header--white {
  font-style: normal;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #fff;
}

.card__text {
  word-wrap: break-word;
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.card__text--soft {
  letter-spacing: 0.02em;
  color: #333;
}

.card__text--strong {
  color: #000;
}

.card__text--white {
  color: #fff;
}

a.card__button {
  text-decoration: none;
  padding: 1rem 2rem;
  border: 0.1rem solid #fff;
  color: #fff;
  background-color: var(--primary-color);
}

#dots1 {
  display: none;
}

#dots2 {
  display: none;
}

.article {
  margin-top: 10rem;
}

.article--main {
  margin-top: 0;
}

.article__header {
  text-align: center;
}

.article__title {
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.3rem;
  color: var(--primary-color, orangered);
}

.article__title--white {
  color: #fff;
}

.article__content-1 {
  display: flex;
  justify-content: space-between;
  margin: 5rem 0;
}

.article__content-2 {
  display: flex;
  justify-content: space-between;
  margin: 7rem 0;
}

.article__sub-title {
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.7rem;
  color: var(--primary-color, orangered);
  text-transform: uppercase;
}

.article__subscribe {
  width: 43%;
}

.article__form-input {
  padding: 3rem;
  border-radius: 0;
  width: 80%;
}

.article__button {
  padding: 2.3rem;
  border-radius: 0;
  width: 100%;
  background-color: var(--primary-color, orangered);
  color: #fff;
  border: 0.1rem solid var(--primary-color, orangered);
}

.article__contact {
  width: 45%;
}

.article__list {
  list-style: none;
}

.article__icon {
  width: 2.2rem;
}

.article__text {
  font-style: normal;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2.6rem;
  color: #333;
}

.article__text--soft {
  opacity: 0.8;
  line-height: 2.8rem;
}

/* ABout us section */

.about-us__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: repeat(2, 1fr);
  grid-template-areas:
    "about-us__img about-us__img article__header--grid article__header--grid"
    "about-us__img about-us__img about-us__text-wrapper about-us__text-wrapper"
  ;
  grid-gap: 1.5rem;
}

.about-us__img {
  grid-area: about-us__img;
}

.article__header--grid {
  grid-area: article__header--grid;
}

.about-us__text-wrapper {
  grid-area: about-us__text-wrapper;
}

.about-us__text {
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #181818;
  word-wrap: break-word;
}

.about-us__image--shadow {
  box-shadow: -3rem -5rem 0 var(--primary-color, orangered);
}

/* Accomplishment Section */

.achieve {
  background-image: linear-gradient(var(--transparent-color), var(--transparent-color)), url(../Images/Rectangle\ 107.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  min-height: 100%;
  margin-top: 7rem;
}

.achieve__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10rem 0;
}

.achieve__content {
  text-align: center;
}

.achieve__title {
  font-style: normal;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: #ffff;
  margin-top: 1rem;
}

.achieve__title--super {
  vertical-align: super;
}

.achieve__text {
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.8rem;
  color: #fff;
  opacity: 0.7;
}

/* Practice Section */

.practice {
  margin: 10rem 0;
}

.practice__image {
  object-fit: cover;
}

.practice__caption {
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.8rem;
  color: #333;
}

/* Activity Section */

.activity {
  background-image: linear-gradient(var(--transparent-color), var(--transparent-color)), url(../Images/Rectangle\ 107.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  min-height: 100%;
}

.activity__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10rem 0;
}

.activity__info {
  text-align: center;
}

.activity__title {
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.7rem;
  color: #fff;
}

.activity__text {
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 2.8rem;
  letter-spacing: 0.02em;
  color: #fff;
}

.activity__image {
  max-width: 30%;
}

.services {
  width: 70%;
  margin: 8rem auto;
}

/* Form Evaluation */

.form-evaluation {
  background-color: var(--secondary-color, maroon);
  padding-top: 2rem;
  padding-bottom: 6rem;
}

.form {
  width: 70%;
  margin: auto;
}

.form__field {
  margin: 2rem 0;
}

.form__text-input {
  width: 100%;
  padding: 1rem 2rem;
}

.form__text-field {
  width: 100%;
  height: 15rem;
  padding: 1rem 2rem;
}

.form__request-btn {
  padding: 0.5rem 2rem;
  background-color: var(--primary-color, orangered);
  border: none;
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: #fff;
}

/* Team Information */

.team-info {
  margin: 10rem 0;
}

.team-info__content {
  margin-top: 8rem;
  overflow-X: hidden; 
}

.team-info__sub-title {
  font-style: normal;
  font-weight: bolder;
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: var(--primary-color, orangered);
  margin-top: 4rem;
}

.team-info__text {
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #333;
}

.team-info__image--shadow {
  box-shadow: -3rem -4rem 0 var(--primary-color, orange);
}

/* Reviews Comment */

.reviews {
  margin: 10rem 0;
}

.reviews__content {
  background-image: linear-gradient(var(--transparent-color), var(--transparent-color)), url(../Images/Rectangle\ 107.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  min-height: 100%;
  padding: 12rem 0;
}

.reviews__slider-content {
  padding-bottom: 7rem;
}

.reviews__user {
  width: 40%;
  margin-right: 8rem;
}

.reviews__text {
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #fff;
  word-wrap: break-word;
}

li.reviews__indicator-list {
  border-radius: 100%;
  height: 1.5rem;
  width: 1.5rem;
  background-color: var(--secondary-color, maroon);
}

li.reviews__indicator-list.active {
  background-color: var(--primary-color, orangered);
}

/* Footer */

.footer-nav {
  background-color: var(--light-color, orangered);
}

.footer-nav__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 1.5rem;
  padding: 2rem 0;
}

.footer-nav__header {
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 4.4rem;
  letter-spacing: 0.02em;
}

.footer-nav__list {
  list-style: none;
}

a.footer-nav__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 4.4rem;
  letter-spacing: 0.02em;
  color: #333;
  opacity: 0.8;
  transition-duration: 1s;
  transition-property: color, font-size;
  transition-delay: 0s, 0.2s;
  transition-timing-function: ease-in-out;
}

a.footer-nav__link:hover {
  color: var(--primary-color);
  font-size: 2rem;
}

.footer-nav__sub-footer {
  background-color: var(--secondary-color, maroon);
  height: 6rem;
  padding-top: 2rem;
}

.footer-nav__text--white {
  color: #fff;
  text-align: center;
}

.footer-nav__google-map {
  box-shadow: 0 5px 5px #333;
}

/* RESPONSIVENESS */

@media (max-width: 1024px) {
  .header__content-1 {
    margin: 1rem 0 1rem 3.5rem;
  }

  .header__content-2 {
    margin: 1rem 3.5rem 1rem 0;
  }

  .hero__bg-image {
    background-size: cover;
    height: 40vh;
  }

  .horizontal-line--margin {
    margin: 0;
  }

  .bgd-info {
    width: 90%;
    margin: 10rem auto;
  }

  .about-us__container {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: repeat(2, 1fr);
    grid-template-areas:
      "article__header--grid article__header--grid"
      "about-us__img about-us__text-wrapper"
    ;
    grid-row-gap: 6rem;
  }

  .about-us__img {
    align-content: center;
  }

  .article__header--grid {
    text-align: center;
  }

  .about-us__img {
    justify-self: center;
  }

  .achieve__content {
    flex: 1 1 20rem;
  }

  .activity__info {
    flex: 1 1 33rem;
  }

  .activity__image {
    margin: 1rem 0;
  }

  .services {
    width: 75%;
  }

  .form {
    width: 75%;
  }

  .reviews__slider-content {
    padding-bottom: 5rem;
  }

  .reviews__content {
    padding: 3.5rem 0;
  }

  .reviews__user {
    margin-top: 2rem;
    width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 988px){
  .header__content-1 {
    margin: 1rem 0 1rem 11.5rem;
  }
  .header__content-2 {
    margin: 1rem 12rem 1rem 0;
  }
}

@media (max-width: 768px) {
  .horizontal-line--margin {
    margin: 0;
  }

  .bgd-info {
    display: block;
    width: 50%;
    margin: 10rem auto;
  }

  .bgd-info > div {
    margin-right: 0;
  }

  .card {
    margin-bottom: 2.5rem;
  }

  .card--mid-card {
    padding: 2rem 0;
  }

  .about-us__container {
    grid-template-columns: 1fr;
    grid-auto-rows: repeat(3, 1fr);
    grid-template-areas:
      "article__header--grid"
      "about-us__img"
      "about-us__text-wrapper"
    ;
    grid-row-gap: 3rem;
  }

  .about-us__image--shadow {
    box-shadow: none;
  }

  .activity {
    min-height: 100%;
  }

  .services {
    width: 90%;
  }

  .form {
    width: 80%;
  }

  .team-info__content {
    margin-top: 4rem;
  }


  .team-info__image--shadow {
    box-shadow: none;
  }

  .team-info__sub-title {
    margin-top: 1rem;
  }

  .reviews__content {
    padding: 2rem 0;
  }

  .reviews__user {
    margin: 0;
  }
}

@media (max-width: 600px) {
  .card--bottom-card {
    width: 100%;
  }

  #dots1 {
    display: inline-block;
  }

  #dots2 {
    display: inline-block;
  }

  #more1 {
    display: none;
  }

  #more2 {
    display: none;
  }

  .achieve {
    background-image: linear-gradient(var(--transparent-color), var(--transparent-color));
  }

  .achieve__image {
    max-width: 30%;
  }

  .practice__info {
    height: 75rem;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .activity {
    background-image: linear-gradient(var(--transparent-color), var(--transparent-color));
    height: 100%;
  }

  .activity__image {
    width: 17%;
  }

  .article__content-1 {
    margin: 20px auto;
    display: block;
    padding-left: 0;
  }

  .article__content-2 {
    display: block;
    width: 90%;
  }

  .article__subscribe {
    width: 100%;
  }

  .article__contact {
    width: 100%;
  }

  .form {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .bgd-info {
    width: 80%;
  }

  .card {
    margin-right: 0;
  }

  .card--mid-card {
    padding: 2rem 0;
  }

  .card__content {
    padding: 4rem 1.5rem;
  }

  .horizontal-line--margin {
    margin-left: 0;
  }

  .article__title {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }

  .about-us__image--shadow {
    box-shadow: none;
  }

  .achieve__content:first-child {
    margin: 0;
  }

  .achieve__title {
    margin: 0.3rem 0;
  }

  .achieve__image {
    width: 15%;
  }

  .reviews__slider-content {
    padding-bottom: 3.5rem;
  }

  .reviews__title {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }

  .reviews__text {
    font-size: 1.6rem;
    line-height: 2rem;
    margin-top: 1rem;
  }

  .reviews__image {
    width: 20%;
    margin-top: 1rem;
    margin-right: 2rem;
  }
}

@media (orientation: landscape) {
  .practice__image {
    width: 100%;
  }

  .services {
    width: 70%;
  }
}